
  <label class="inline-flex items-center gap-2 rounded-xl border border-white/60
                bg-white/90 h-10 px-3 shadow-md ring-1 ring-black/5
                hover:bg-white transition cursor-pointer">
    <span class="text-xs font-semibold text-gray-900">
      Zonas inundables
    </span>
    <input
      type="checkbox"
      class="h-4 w-4 rounded border-gray-300 text-gray-900
             focus:ring-2 focus:ring-black/10 focus:ring-offset-0 transition"
      [checked]="showFloodZones"
      (change)="toggleFloodZones($event)"
    />
  </label>






